<!DOCTYPE html>
<html lang="en">
<head>
  <title>About Me</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <style>
    body {
      font-family: "Lato", sans-serif;
      background-image: url('https://3.bp.blogspot.com/-EZKdjzqKvz8/W-y7xCfzPlI/AAAAAAAARQ8/x5TyRK_LJTMVXHQ-Yq181rIX0uxx4IhfgCLcBGAs/s1600/slider4.png');
      background-size: cover;
      background-position: center;
      color: white;
      margin: 0;
      padding: 0;
    }
    .w3-bar-item {
      font-weight: bold;
    }
    .mySlides {
      display: none;
    }
    /* Custom styles */
    .content {
      padding: 20px;
    }
    .text-container {
      background-color: rgba(0, 0, 0, 0.7);
      border-radius: 10px;
      padding: 20px;
    }
    .about-me {
      text-align: center;
    }
    .about-me img {
      border-radius: 50%;
      margin-bottom: 20px;
      border: 4px solid white;
    }
    .about-me h2 {
      margin-bottom: 10px;
    }
    .about-me p {
      line-height: 1.6;
    }
  </style>
</head>
<body>

<!-- Navbar -->
<div class="w3-top">
  <div class="w3-bar w3-black w3-card">
    <a href="/" class="w3-bar-item w3-button w3-padding-large">HOME</a>
    <a href="/about" class="w3-bar-item w3-button w3-padding-large w3-hide-small">ABOUT</a>
    <a href="/portfolio" class="w3-bar-item w3-button w3-padding-large w3-hide-small">PORTFOLIO</a>
    <div class="w3-dropdown-hover w3-hide-small">
      <button class="w3-padding-large w3-button" title="More">MORE <i class="fa fa-caret-down"></i></button>     
      <div class="w3-dropdown-content w3-bar-block w3-card-4">
        <a href="/profile" class="w3-bar-item w3-button">Profile</a>
        <a href="/uniquepage" class="w3-bar-item w3-button">Unique Page</a>
      </div>
    </div>
    <a href="javascript:void(0)" class="w3-padding-large w3-hover-red w3-hide-small w3-right"><i class="fa fa-search"></i></a>
  </div>
</div>

<!-- Page content -->
<div class="w3-content" style="max-width:2000px;margin-top:46px">

  <!-- About Me Section -->
  <div class="w3-container w3-content w3-center w3-padding-64" id="about-me">
    <div class="content text-container">
      <div class="about-me">
        <img src="https://lh3.googleusercontent.com/a/ACg8ocKV6rVGDrZQPbEDTaeCfGOL9lg-BxRlMEoAA0W5BCTxmQ=s432-c-no" alt="Profile Picture" style="width:150px">
        <h2>Christian Ed Gabriel S. Dumandan</h2>
        <p><i>My Life</i></p>
        <p>Hello! I am Christian Ed Gabriel S. Dumandan, when I was high school I was known as a drug lord and some of the teachers called me that, However since it was a famous word the decided to take me on a Drug test In the letter it says I was randomly and I recceive this letter twice in a month
          I am also a very known as Padre Damaso 
        </p>
      </div>
    </div>
  </div>

</div>

<div class="w3-content" style="max-width:2000px;margin-top:46px">
  <!-- About Me Section -->
  <div class="w3-container w3-content w3-center w3-padding-64" id="about-me">
    <div class="content text-container">
      <div class="about-me">
        <h2>The Unexpected Role</h2>
        <p><i>INT. HIGHSCHOOL CLASSROOM - Afternoon</i></p>
        <p>
          Sa classroom na puno ng mga estudyante maingay, nag-uusap ng masigla.<br>
          <b>Female Teacher:</b> (Walks in nagdala ng malaking color blue box na box)(dahan dahan nanahimik ang mga estudyante)<br>
          <b>MULTIPLE STUDENT:</b> UUy!! Andiyan na si Maam Shhh… sShhhh… Hoy!!! akong bente asa na wala nakoy pamasahe Shhh pagpuyoo, Huuy paghilom na naa na si Maram Ba respeto baaa.<br>
          <b>Female Teacher:</b> (Upon arriving at the table and nilagay niya and blue box at andkanyang laptop a teachers table).<br>
          <b>Female Teacher:</b> Okay Class, para sa ating project maghihiwalay ang class into two groups Mag simulation tayo sa pag count ng 1 and 2 maliwanag be class.<br>
          <b>MULTIPLE STUDENTS:</b> 1 ,2,1,2,1,2,1,2,1<br>
          <b>PROTAGONIST:</b> (at na assigned aka sa group 2)<br>
          Naka Arrange na Ang group into two at nag gawa ng dalawang oblong na shape<br>
          <b>Female Teacher:</b> Okay class may twist tayo sa paggawa ng movie at yan ay mag bunot tayo kung ano type na theme ang gawin niyo note that you can change the script if you want ok class<br>
          <b>MULTIPLE STUDENTS:</b> Yes Ma’am<br>
          <b>Female Teacher:</b> ok lider ng group 1 and 2 ay mag Punta sa harap para makakuha kayo ng thema para sa gawin niyo na movie.<br>
          <b>Lider ng Group 1:</b> Uyy Niceee Action tayo guys Members ng Group1: Yehaaay, nice one,<br>
          yung isang member ng group 1: CARDO DALISAAAY BANg BAANG (Tumambling at tumaaan ang kanyang leg sa cabinet at nagkaroon ng malakas na sound)<br>
          Mga ibang member sa group 1 : huuy!!! Ahahahahahah, Hala kiat kyud, Ok ka lang, dah na gabaan ambi na lagi akong bente bah.<br>
          <b>Female Teacher:</b> Group 1 tumahimik na at mag start na kayo kung sino sa grupo niyo gumawa ng script note that dapat lahat kayo nakita ko sa movie habbang magnuod ako sa mga ginawa niyo na movies<br>
          <b>Lider ng Group2:</b> HALA! GUUYSS COMEDYY ATIN Yehaaay(Talon ng talon nice ka!!!)<br>
          Mga members ng group 2: nice ka, UUY nice Dali lang na kaayo kay masking palpak pwede na hahahahaha, Yati mag MR.Bean Mr.Been gyud ang atong dagway ani bah, Ganiii, pero at least Dali na, Ganii.<br>
          Nag salita ang Protagonist sa kanyang isip<br>
          <b>Protagonist:</b> Mukhang pina Mr.Bean yata gagawin natin na shoot basta ako side character lang ako at manahimik lang ako para hindi sila mag bibigay ng madaming ideya sa akin para simple lang yung script ko rin at maiikli.<br>
          SA Sunod ng Dalawang Araw <b>Lider ng Group 2:</b> Dumandaaan<br>
          <b>Protagonist:</b> Unsa man?<br>
          <b>Lider ng Group 2:</b> ikaw si Padre Damaso para sa movie natin<br>
          <b>Protagonist:</b> HUUH!! Ako! BAKIT!<br>
          <b>Lider ng Group 2:</b> kamukha ka Kasi ni Padre Damaso at bawal na mag change Kasi na finalize na ang script at sinend na namin kay kung sino ang mga characters.<br>
          <b>Protagonist:</b> Hala!!! Seryoso!!!<br>
          <b>Lider ng Group 2:</b> OO!! Basta ikaw na no more changes!! (leaves)<br>
          Nag salita ang Protagonist sa kanyang isip<br>
          <b>Protagonist:</b> Paano to eeh napakadaming screen time yung character na nipili nila sa akin.<br>
          <b>Teacher:</b> Class yung pinakamagandang movie ay ibigyan ko ng pinaka taas na marka which is above U0 kayo sa group kapag naka 1st place kayo sa movie<br>
          <b>Protagonist:</b> Kapag maganda ang film namin ehh baka mabawi ko yung grades kasi mga quiz ko is halos mg 0-5 out of 20 or 15.<br>
          <b>Protaginst:</b> Debale lang kati yung character ko kasi korupt at madali lang gawin yung mga scenes niya.<br>
          SA SUNOD ng 2 Weeks….<br>
          Itong araw ay ang mga grupo nagsimula sa pag shoot at pagsimula ng Portoganist sap ag shoot sa kanyang role<br>
          <b>Lider ng Group 2:</b> ditto ka tapos habang nag lakad si Chrisostomo Ibarra titigan mo siya ng mabuti siya ok?.<br>
          <b>Protagonist:</b> ok<br>
          Nag salita ang Protagonist sa kanyang sarili<br>
          <b>Protagonist:</b> sige titigan ko lang siya parang gusto ko siya I durog<br>
          <b>Protagonist:</b> (Staring seriously)<br>
          <b>Lider ng Group 2:</b> Cut!! Hindi ganyan na tititig ba yung titig na parang ma insteresado ka sa kanya<br>
          <b>Protagonist:</b> ahh sige sige!<br>
          <b>Lider ng Group 2:</b> Action!!<br>
          <b>Protagonist:</b> (Staring na may intersado at nag smile at nag taas ng kanan ng eyebrom)<br>
          <b>Lider ng Group 2:</b> Cut!! Hindi ganyan na titig Hoi!!! HAHAHAAh first scene palang madaming na tayo retakes like titigan mo siya parang anong term yun?<br>
          <b>Camera boy:</b> yung titigan mo siya na may crush ka siya sa kanya ba.<br>
          <b>Protagonist:</b> HAAAA?!?!?!?<br>
          <b>Lider ng Group 2:</b> OO!! Parnag ganyan ah hinde like literal na may crush sa kanya kasi bakla si Padre Damaso<br>
          <b>Protagonist:</b> HAAAA!!!?!?!? BAKLAAA!!!!<br>
          <b>Lider ng Group 2:</b> OO!!! Gi ingnan na baya nako ka na ikaw ang Padre Dama--- Aiy ahahhaha<br>
          Natulala Ang reaction ng Protagnist Dahil magiging bakla as Padre Damaso siya<br>
          <b>Camera man:</b> (Claps in front of the face of the Protagonist) HHUYY!!! Tara na magsimula na tayo<br>
          As the Protagonist has no other choice but to follow the leader so that he cannot bringdown the rest of members of his group.<br>
          However, As the script progress the character development of Padre Damaso scenes have become outlandish time by time.<br>
          Show multiple outlandish shooting scenes<br>
          (Fade in)<br>
          Church Noon to Night<br>
          <b>Protagonist:</b> (Singing Let It Go in Frozen as used for the praying ritual ceremony)<br>
          (Fade out)<br>
          INT. Highschool Gym Presentation of the Movie<br>
          All of the Groups including different sections with the same grade level as the Protagonist to watch the Movie<br>
          <b>P.E Teacher:</b> Uyy!! Ito pala yung bagong Idol ko ngayon HAHAHAH!!!<br>
          <b>Protoganist:</b> Huh ako Lodi moa ko bakit??<br>
          <b>P.E Teacher:</b> Nanood ko yung movie na ginawa niyo shinare ng Filipino teacher lahat sa amin para I rate daw naming kung sino ang mag best character at best movie na naggawa Ninnyo<br>
          <b>Protoganist:</b> Huh Na nood niyo pala?<br>
          Habang nag present ang mga Movies na ginawa ng mga ibang Grupo lahat sila ay natatawa at Nahihiya sa kanilang mga acting Habang ang protagonist naman Nag tatago sa sobrang cringe Habang sa grupo niya na presentation<br>
          Nakakuha ang Protagonist bilang as the Best Padre Damaso at Halos mga grade 9 students nakatitig sa akin at sa isip ng protagonist gusto na niya sana matapos ito agad.
        </p>
      </div>
    </div>
  </div>
</div>

</body>
</html>
