<!DOCTYPE html>
<html lang="en">
<head>
  <title>About Me</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <style>
    body {font-family: "Lato", sans-serif}
    .mySlides {display: none}
    /* Custom styles */
    .content {
      padding: 20px;
    }
    .about-me {
      text-align: center;
    }
    .about-me img {
      border-radius: 50%;
      margin-bottom: 20px;
    }
  </style>
</head>
<body>

<!-- Navbar -->
<div class="w3-top">
  <div class="w3-bar w3-black w3-card">
    <a href="/" class="w3-bar-item w3-button w3-padding-large">HOME</a>
    <a href="/about" class="w3-bar-item w3-button w3-padding-large w3-hide-small">ABOUT</a>
    <a href="/portfolio" class="w3-bar-item w3-button w3-padding-large w3-hide-small">PORTFOLIO</a>
    <div class="w3-dropdown-hover w3-hide-small">
      <button class="w3-padding-large w3-button" title="More">MORE <i class="fa fa-caret-down"></i></button>     
      <div class="w3-dropdown-content w3-bar-block w3-card-4">
        <a href="/profile" class="w3-bar-item w3-button">Profile</a>
        <a href="/uniquepage" class="w3-bar-item w3-button">Unique Page</a>
      </div>
    </div>
    <a href="javascript:void(0)" class="w3-padding-large w3-hover-red w3-hide-small w3-right"><i class="fa fa-search"></i></a>
  </div>
</div>

<!-- Page content -->
<div class="w3-content" style="max-width:2000px;margin-top:46px">

  <!-- About Me Section -->
  <div class="w3-container w3-content w3-center w3-padding-64" id="about-me">
    <div class="content">
      <div class="about-me">
        <img src="https://lh3.googleusercontent.com/a/ACg8ocKV6rVGDrZQPbEDTaeCfGOL9lg-BxRlMEoAA0W5BCTxmQ=s432-c-no" alt="Profile Picture" style="width:150px">
        <h2>Christian Ed Gabriel S. Dumandan</h2>
        <p>My life</p>
        <p>Hello! I am Christian Ed Gabriel S. Dumandan, when I was high school I was known as a drug lord and some of the teachers called me that, However since it was a famous word the decided to take me on a Drug test In the letter it says I was randomly and I recceive this letter twice in a month</p>
      </div>
    </div>
  </div>

</div>

</body>
</html>
